@charset "utf-8";





html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
    {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

caption,th,td {
    text-align: left;
    font-weight: normal
}

blockquote,q {
    quotes: none
}

.clear-left {
    clear: left
}

.clear-right {
    clear: left
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#error_explanation {
    margin-bottom: 1em;
    background: #e05f4f;
    padding: .5em;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#error_explanation h2 {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: .5em
}

#error_explanation ul {
    list-style: none;
    font-size: .875em
}

.flash {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    font-size: .875em
}

.flash.error {
    background: #e05f4f
}

.flash.notice {
    background: #6ab915
}

body {
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    color: #111
}

a {
    color: #005889;
    text-decoration: none
}

a:hover {
    color: #0079bc;
    text-decoration: underline
}

#old-browser {
    text-align: center;
    padding: .825em;
    font-size: .875em;
    background: #fff0b3
}

#header {
    margin: 0 auto;
    background: url(/assets/header-bkg-a13fea9976d60a0f47b310791efd1bd8.png)
        repeat-x #005889
}

#header #logo {
    float: left;
    font-size: 1.125em;
    padding: .7em 0 0 .825em
}

#header #logo a {
    color: #fff
}

#header span.title {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/assets/logo-74eba066cb54a683db2352077318fa14.png)
        no-repeat;
    background-size: 119px 18px;
    display: inline-block;
    width: 119px;
    height: 18px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5) , only screen and
        (-o-min-device-pixel-ratio:3 / 2) , only screen and
        (min--moz-device-pixel-ratio:1.5) , only screen and
    (min-device-pixel-ratio:1.5) {
    #header span.title {
        background-image:
            url(/assets/logo@2x-b6da6635b855d7f8251571038e93ebf3.png)
    }
}

#header #account-nav {
    font-size: .875em;
    float: right;
    background: #004165
}

#header #account-nav a.drop-down,#header #account-nav p {
    color: #fff;
    padding: 1em;
    display: block
}

#header #account-nav p a {
    color: #fff;
    text-decoration: underline
}

#header #account-nav img {
    margin: -0.5em 0 0 .7em;
    border: 1px solid #fff;
    vertical-align: middle
}

#header #account-nav #account-links {
    width: 5em;
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    background: #004165;
    padding: .5em 1em;
    list-style: none;
    line-height: 2em;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px
}

#header #account-nav #account-links a {
    display: block;
    color: #fff
}

#header #account-links {
    display: none
}

#content {
    margin: 2.250em auto;
    max-width: 1200px;
    width: 90%
}

#main {
    float: right;
    width: 80%
}

#main #sign-up-alert,#main #announcements {
    background: #fff0b3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 1em;
    margin-bottom: 1.5em
}

#main #sign-up-alert span,#main #announcements span {
    float: left;
    width: 80%
}

#main #sign-up-alert h2,#main #announcements h2 {
    font-weight: normal;
    margin-bottom: .25em
}

#main #sign-up-alert p,#main #announcements p {
    font-size: .875em;
    margin-bottom: .25em
}

#main #sign-up-alert a.button,#main #announcements a.button {
    background: #dc4b39;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    padding: .5em;
    font-size: 1.125em;
    float: right
}

#main #sign-up-alert li,#main #announcements li {
    list-style: none
}

#main #tags {
    list-style: none;
    padding: 1em;
    margin-bottom: .825em;
    background: #f6f9fb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#main #tags li {
    display: inline;
    padding-right: .7em;
    margin-right: .5em;
    border-right: 1px solid #e5ecf3;
    line-height: 1.5em
}

#main #tags li:last-child {
    border-right: none
}

#main #tags li.active-tag a {
    font-weight: bold;
    color: #111
}

#main p.showing-links-tagged-with {
    font-size: .75em;
    margin-bottom: 2.125em
}

#main #link-list .links-empty {
    text-align: center;
    font-size: .875em;
    margin-top: 3em
}

#main #link-list .links-empty span {
    background: #f6f9fb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em 2em
}

#main .link-item {
    border-bottom: 1px dashed #e5ecf3;
    padding: 1em .5em
}

#main .link-item:first-child {
    margin-top: -1em
}

#main .link-item:hover {
    background: #f6f9fb
}

#main .link-item .favicon {
    margin-top: .2em;
    float: left;
    border: 0
}

#main .link-item .favicon img {
    background: #fff
}

#main .link-item .link-block {
    float: left;
    width: 83%;
    padding-left: .7em
}

#main .link-item .link-block h3 {
    font-size: 1.25em;
    font-weight: normal
}

#main .link-item .link-block h3.private {
    background: url(/assets/lock-7db0d3b8c9a0b5954fac4ffd6baced84.png) 0
        .1em no-repeat;
    text-indent: 1em
}

#main .link-item .link-block.read h3 a {
    color: #ccc;
    text-decoration: line-through
}

#main .link-item .link-block p.comment {
    font-size: .875em;
    margin-top: .5em
}

#main .link-item .link-block.read p.comment {
    color: #999
}

#main .link-item .link-block p.meta {
    color: #999;
    font-size: .75em;
    margin-top: .7em
}

#main .link-item .link-block p.meta img {
    vertical-align: bottom
}

#main .link-item .link-block p.meta a {
    color: #999
}

#main .link-item .link-options {
    float: right;
    font-size: .875em;
    margin-top: .5em;
    list-style: none
}

#main .link-item .link-options li {
    float: left;
    margin-left: .2em
}

#main .link-item .link-options .link-icon {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 24px;
    height: 24px;
    display: block
}

#main .link-item .link-options .mark {
    background:
        url(/assets/link-icon-sprite-a79374f29f3997dc239153b2e4c2bf29.png) 0
        50% no-repeat #e3e3e3
}

#main .link-item .link-options .mark:active {
    background-color: #9dea4a
}

#main .link-item .link-options .mark-set {
    background-color: #6ab915
}

#main .link-item .link-options .star {
    background:
        url(/assets/link-icon-sprite-a79374f29f3997dc239153b2e4c2bf29.png)
        -24px 50% no-repeat #e3e3e3
}

#main .link-item .link-options .star:active {
    background-color: #ffeb99
}

#main .link-item .link-options .star-set {
    background-color: #fc0
}

#main .link-item .link-options .cog {
    background:
        url(/assets/link-icon-sprite-a79374f29f3997dc239153b2e4c2bf29.png)
        -48px 50% no-repeat #e3e3e3
}

#main .link-item .link-options .cog:hover {
    background-color: #666;
    text-decoration: none
}

#main .link-item .link-options .cog:active {
    background-color: #b3b3b3
}

#main .link-item .link-options .add {
    background:
        url(/assets/link-icon-sprite-a79374f29f3997dc239153b2e4c2bf29.png)
        -72px 50% no-repeat #e3e3e3
}

#main .link-item .link-options .add:hover {
    background-color: #6ab915;
    text-decoration: none
}

#main .link-item .link-options .add:active {
    background-color: #b6f077
}

#main .link-item .link-options .settings-links {
    display: none;
    background: #666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: .5em;
    position: absolute;
    z-index: 1000;
    margin-top: -0.4em;
    list-style: none;
    font-size: .875em
}

#main .link-item .link-options .settings-links li {
    clear: left;
    width: 4em
}

#main .link-item .link-options .settings-links a {
    color: #fff;
    display: block;
    padding: .3em 0
}

#main .pagination {
    margin-top: 2.125em;
    font-size: .875em
}

#main .pagination .page {
    margin-right: .1em
}

#main .pagination .current {
    background: #e5ecf3;
    border: 1px solid #e5ecf3;
    padding: .5em .8em;
    padding-right: .7em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: .4em
}

#main .pagination .gap {
    margin-right: .1em
}

#main .pagination a {
    padding: .5em .8em;
    border: 1px solid #e5ecf3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#main .pagination a:hover {
    color: #fff;
    background: #005889;
    border: 1px solid #005889;
    text-decoration: none
}

#secondary {
    float: left;
    width: 18%
}

#secondary #active-account a {
    text-decoration: none
}

#secondary #active-account img {
    margin: 0 .5em 1em 0;
    float: left;
    padding: 2px;
    border: 1px solid #e3e3e3
}

#secondary #active-account h1 {
    font-size: .875em;
    font-weight: normal
}

#secondary #active-account h1 span {
    color: #999;
    margin-top: .2em;
    display: block
}

#secondary #links-nav {
    clear: left;
    border-top: 1px solid #e3e3e3;
    padding-top: .8em;
    font-size: .875em;
    list-style: none
}

#secondary #links-nav a {
    display: block;
    padding: .2em 0;
    padding-left: .5em
}

#secondary #links-nav a span {
    position: relative;
    top: -0.2em;
    color: #fff;
    background: #dc4b39;
    font-size: .688em;
    margin-left: .5em;
    line-height: 0;
    padding: .3em .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#secondary #links-nav a.active {
    color: #111;
    background: #e5ecf3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#secondary #links-nav a:hover {
    background: #e5ecf3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none
}

#secondary #links-nav li {
    line-height: 2em;
    border-top: 1px solid #fff
}

#secondary #search {
    margin-top: .8em;
    font-size: .875em
}

#secondary #search #q {
    width: 100%;
    border: 0;
    font-size: .875em;
    background: none;
    -webkit-appearance: none
}

#secondary #search .field-border {
    padding: .3em;
    padding-left: 1.8em;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: url(/assets/search-1d1a5e9f9f2dfb26f3a4e9ae1a034dd5.png) 7px
        50% no-repeat
}

#secondary #search :focus {
    outline: 0
}

#footer-container {
    border-top: 1px solid #e3e3e3;
    background: #fff
}

#footer {
    font-size: .75em;
    padding: 2.250em;
    max-width: 1200px;
    margin: 0 auto
}

#footer p {
    float: left
}

#footer a.legal {
    color: #ccc
}

#footer p.top {
    float: right;
    text-align: right
}

#footer p.top a {
    border: 1px solid #e5ecf3;
    padding: .5em .8em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#footer p.top a:hover {
    color: #fff;
    background: #005889;
    border: 1px solid #005889;
    text-decoration: none
}

#footer p.made-in {
    float: right;
    background: url(/assets/flag-aad3fafc616ad692e22f29538a91618c.png) 0 50%
        no-repeat;
    padding-left: 15px
}





/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td
	{
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size : 14px;
}

fieldset,img {
	border: 0;
}

ol,ul,li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

/*文字排版*/
body,input {
	font-size: 14px;
	color: #4f4f4f;
	font-family: Microsoft Yahei, Helvetica, Simsun;
	background: #fff;
}

a {
	text-decoration: none;
}

.fb {
	font-weight: bold;
}

.t2 {
	text-indent: 2em;
}

.lh150 {
	line-height: 150%;
}

.lh170 {
	line-height: 170%;
}

.unl {
	text-decroation: underline;
}

.f_gray {
	color: #656565
}

/*定位*/
.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.tc {
	text-align: center;
}

.mid {
	margin-left: auto;
	margin-right: auto;
}

.fl {
	float: left;
	display: inline;
}

.fl-01 {
	float: left;
}

.fr {
	float: right;
	display: inline;
}

.cb {
	clear: both;
}

.cl {
	clear: left;
}

.cr {
	clear: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
	display: table;
} 

/*让浮动元素的父容器能根据浮动元素的高度自适应高度*/
.vm {
	vertical-align: middle;
}

.vb {
	vertical-align: bottom;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.zoom {
	zoom: 1;
}

.hidden {
	visibility: hidden
}

.undis {
	display: none;
}

.dis {
	display: block;
}

.inlineBlock {
	display: inline-block;
}

.must {
	color: #ff0000
}

/*边距*/
.pl15 {
	padding-left: 15px;
}

.pr15 {
	padding-right: 15px;
}

.pl10 {
	padding-left: 10px;
}

.plr15 {
	padding: 0 15px;
}

.mt10 {
	margin-top: 10px;
}

.pl20 {
	padding-left: 20px;
}

.pl40 {
	padding-left: 40px;
}

.pl5 {
	padding-left: 5px;
}

.select {
	padding: 2px;
	border: 1px solid #c6c6c6;
	color: #4f4f4f;
}

.text-comm {
	padding-left: 5px;
	border: 1px solid #c6c6c6;
	color: #4f4f4f;
	height: 22px;
	line-height: 22px;
	background: #fff;
}

.text-readonly {
	padding-left: 5px;
	border: 1px solid #c6c6c6;
	color: #4f4f4f;
	height: 22px;
	line-height: 22px;
	background: #fff;
	border: 0px;
}