html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

body {
    font-family: Microsoft Yahei, helvetica, arial, sans-serif;
    color: #111
}

a {
    color: #005889;
    text-decoration: none
}

a:hover {
    color: #0079bc;
    text-decoration: underline
}

#header {
    margin: 0 auto;
    background: url() repeat-x #005889;
}

#header #logo {
    float: left;
    font-size: 1.125em;
    padding: .7em 0 0 .825em
}

#header #logo a {
    color: #fff
}

#header #account-nav {
    font-size: .875em;
    float: right;
    background: #004165
    color: #fff;
    padding: 1em;
    display: block
}

#header #account-nav p a {
    color: #fff;
    text-decoration: underline
}

#header #account-nav img {
    margin: -0.5em 0 0 .7em;
    border: 1px solid #fff;
    vertical-align: middle
}

#header #account-nav #account-links a {
    display: block;
    color: #fff
}

#header #account-links {
    display: none
}

#content {
    margin: 2.250em auto;
    max-width: 1200px;
    width: 90%
}


#error {
    margin-bottom: 1em;
    background: #e05f4f;
    padding: .5em;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#error h2 {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: .5em
}

#error ul {
    list-style: none;
    font-size: .875em
}


.login {
    background: url(/bg.png) #dbe7ee;
    padding-top: 40px
}

.login #header #account-nav #account-links {
    right: auto
}

.login #content {
    width: 90%
}

.login #container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 20px #bbb;
    -moz-box-shadow: 0 0 20px #bbb
}

.login form {
    width: 100%
}

.login form .field {
    margin-bottom: 1em
}

.login form .field span {
    color: #ccc;
    font-size: .75em
}

.login form .text-field input,.login form .text-area textarea {
    padding: .5em;
    font-size: .875em;
    border: 1px solid #e3e3e3;
    width: 96%
}

.login form .text-area textarea {
    height: 6em;
    font-size: .75em
}

.login form label {
    font-size: .875em
}

.login form .button {
    font-size: .875em;
    color: #fff;
    background: #005889;
    padding: .5em .7em;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}



#footer-container {
    border-top: 1px solid #e3e3e3;
    background: #fff
}

#footer {
    font-size: .75em;
    padding: 2.250em;
    max-width: 1200px;
    margin: 0 auto
}

#footer p {
    float: left
}

#footer a.legal {
    color: #ccc
}

#footer p.top {
    float: right;
    text-align: right
}

#footer p.top a {
    border: 1px solid #e5ecf3;
    padding: .5em .8em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

#footer p.top a:hover {
    color: #fff;
    background: #005889;
    border: 1px solid #005889;
    text-decoration: none
}

#footer p.made-in {
    float: right;
    background: url(/bg.png) 0 50% no-repeat;
    padding-left: 15px
}


